<div class="row">
  <div class="col-md-6 mt-3" *ngFor="let product of productService.getItems()">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">{{ product.title }}</h3>
        <p class="card-text">{{ product.description }}</p>
        <div class="text-right">{{ product.price }}</div>
      </div>
      <div class="card-footer text-right">
<!--        <a class="btn btn-primary" [routerLink]="['/products', product.id]" role="button">Детали</a>-->
        <button type="button" class="btn btn-secondary" (click)="onDetails(product)">Детали</button>
        <button type="button" class="btn badge-danger ml-1" (click)="productService.deleteProduct(product.id)">Удалить</button>
        <app-product-alerts [product]="product" (notify)="onNotify(product)"></app-product-alerts>
      </div>
    </div>
  </div>
</div>
